body {
  background: peachpuff;
}

.container{
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 1em;
  gap: 1em;
}

.a, .b, .c, .d, .e, .f, .g, .h{
  border: 1px solid black;
  text-align: center;
  height: 100px;
}

.bcd{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0 1em 0;
}

.efg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.h{
  height: 200px;
  flex-shrink: 1;
}

.b, .c, .d{
  min-width: 30%
}

.e, .f, .g{
  min-width: 30%;
}

@media (min-width: 600px){
  .container{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a{
    background-color: chartreuse;
    width: 100%;
    min-height: 150px;
  }

  .b, .c, .d{
    min-width: 30%;
    min-height: 150px;
  }

  .e, .f, .g{
    min-width: 30%;
    min-height: 150px;
  }

  .bcdefg{
    width: 75%;
  }
  
  .h{
    margin-top: 1em;
    width: 20%;
    height: 315px;
  }
}